*{
margin: 0;
padding: 0;
text-decoration: none;

}

.section-index{
  width: 100%;
  height: 100vh;
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.Informacion{
  width: 90%;
  height: auto;
  margin-top: 12%;
  display: flex;
  flex-direction: column;
  background-color: rgba(255,255,255,0.9);
  backdrop-filter: blur(8px);
  border-radius: 10px;
}
